<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CVE List</title>
</head>
<body>
<h2>CVE List</h2>
<table border="1">
    <tr>
        <th>CVE ID</th>
        <th>Score</th>
        <th>Status</th>
    </tr>
    <tr th:each="cve : ${cvePage.content}">
        <td>
            <a th:href="@{/cve/{id}(id=${cve.cveId})}"
               th:text="${cve.cveId}"></a>
        </td>
        <td th:text="${cve.cvssScore}"></td>
        <td th:text="${cve.status}"></td>
    </tr>
</table>
</body>
</html>